@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
 }
 body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background: #f4f5f2;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 50px auto 1fr auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer"; 
 } 
header {
    grid-area: header;
    justify-self: center;
    font-size: 34px; 
}
nav {
    grid-area: nav;
    width: 100%;
    height: auto;
    background: #8dc263;
    position: sticky;
    top: 0;
    border-style:solid;
    border-width: 1px;
    border-bottom-color: #41525a;
    z-index: 2;
}
nav ul {
    display: flex;
    margin: 0;
    flex-flow: row wrap;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    display: block;
    color: #f4f5f2;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
}
nav ul li a:hover,
nav ul li a.active {
    background: #41525a;
} 
main {
    grid-area: main;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer {
    grid-area: footer;
    background-color:#8dc263;
}
footer ul {
    display: flex;
    justify-content: center;
}
footer ul li {
    list-style: none;
}
footer ul li a {
    display: inline-block;
    padding: 0 20px;
}
.footer_icon {
    width: 30px;
}
a svg:hover .footer_icon_color {
    fill: #f4f5f2;
}
.copyright {
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #41525a;
    margin-left: 30px;
}

.home-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding-left: 20px;
    padding-right: 20px;
}
.home-text {
    display: flex;
    border: solid 1px;
    justify-items: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    color: #41525a;
}
.home-container .box {
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    position: relative;
    transition: 0.5s;
}
.home-container .box:hover {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,1);
}
.home-container .box .thumb {
    height: 250px;
}
.home-container .box:nth-child(odd) .thumb {
    bottom: 0;
    left: 0;
}
.home-container .box .details {
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.home-container .box:nth-child(even) .details {
    bottom: 0;
    left: 0;
}
.home-container .box:nth-child(1) .details {
    background: #8dc263;
}
.home-container .box:nth-child(2) .details {
    background: #8dc263;
}
.home-container .box:nth-child(3) .details {
    background: #8dc263;
}
.home-container .box:nth-child(4) .details {
    background: #8dc263;
}
.home-container .box .details .content {
    position: absolute;
    top: calc(50% + 16px);
    transform: translateY(-50%);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    transition: 0.5s;
}
.home-container .box:hover .details .content {
    top: calc(50%);
}
.home-container .box .details .content .home-icon {
    font-size: 80px;
    color: #f4f5f2;
}
.home-container .box .details .content h3 {
    margin: 0;
    padding: 0;
    padding: 10px 0;
    color: #f4f5f2;
}
.home-container .box .details .content a {
    display: inline-block;
    padding: 5px 20px;
    color: #f4f5f2;
    border: 2px solid #f4f5f2;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 20px;
    transform: scale(0);
}
.home-container .box:hover .details .content a {
    transform: scale(1);
}
.home-container .box .details .content a:hover {
    background: #f4f5f2;
    color: #262626;
}
.home-icon {
    width: 80px;
}
/* ############# ABOUT PAGE ############# */
.about-container {
    flex-direction: column;
    justify-content: space-between;
}
.about-two-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media only screen and (min-width: 480px) {
.about-two-blocks {
        flex-wrap: nowrap;
    }
}
.about-container .profile-pic {
    padding: 20px;
}
.profile-words {
    padding-left: 20px;
    padding-right: 20px;
    color: #41525a;
}
.resume {
    border: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box; 
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
    background: #41525a;
    opacity: .7;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;   
    color: #f4f5f2;
}
.resume a {
    color: #f4f5f2;
}
.contact-me {
    margin: 0 auto;
    width: 400px;
    justify-self: center;
    background: #fff;
    padding: 40px;
    border: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;  
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.contact-me h2 {
    margin: 0 0 40px;
    color: #8dc28d;
}
.about-container .contact-me input {
    padding: 10px 0;
    margin-bottom: 20px;
}
.about-container .contact-me textarea {
    height: 100px;
    padding: 10px 0;
    margin-bottom: 40px;
}
.about-container .contact-me input,
.about-container .contact-me textarea {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999;
}
.about-container .contact-me textarea {
    margin-bottom: 20px;
}
.about-container .contact-me input[type="submit"] {
    border-bottom: none;
    cursor: pointer;
    background: #8dc263;
    color: #fff;
    margin-bottom: 0;
}
.about-container .contact-me form div {
    position: relative;
}
.about-container .contact-me form div label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    transition: .5s;
    pointer-events: none;
}
.about-container .contact-me input:focus ~ label,
.about-container .contact-me textarea:focus ~ label,
.about-container .contact-me input:valid ~ label,
.about-container .contact-me textarea:valid ~ label {
    top: -12px;
    left:0;
    color:#8dc263;
    font-size: 12px;
    font-weight: bold;
}
.about-container .contact-me input:focus, 
.about-container .contact-me textarea:focus, 
.about-container .contact-me input:valid, 
.about-container .contact-me textarea:valid {
    border-bottom: 2px solid #8dc263;
}
/* ########## CODING PAGE ######### */
.coding-container {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    " typewriter-text"
    "skillset-logos"; 
    margin-top: -20px;
}
.code {
    overflow-wrap: normal;
}
.typewriter-text {
    background: #41525a;
    padding: 20px 20px;
    margin: 0 auto;
    width: 100vw;
}
.typewriter-text pre {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    color: #f4f5f2;
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
    animation: typing 2s steps(60, end);
}
.typewriter-text pre:nth-child(2) {
    animation: typing-2 2.5s steps(60, end);
} 
.typewriter-text pre:nth-child(3) {
    animation: typing-2 4s steps(60, end);
}
.typewriter-text pre:nth-child(4) {
    animation: typing-2 6s steps(60, end);
}
.typewriter-text pre:nth-child(5) {
    animation: typing-2 9s steps(60, end);
}
.typewriter-text pre:nth-child(6) {
    animation: typing-2 13.5s steps(60, end);
}
@keyframes typing {
    from {width: 0;}
}
@keyframes typing-2 {
    0% {width: 0;}
    50% {width: 0;}
    100% {width: 100;}
}
@keyframes blink {
    to {opacity: .0;}
}
.cursor {
    animation: blink 1s infinite;
}
.skillset-logos {
    display: flex;
    flex-direction: rows;
    justify-content: center;
}
.skillset-logos .sidebar {
    position: relative;
    border: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box; 
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
    float: left;
    background: #41525a;
    opacity: .7;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:20px;
    margin-top: 10%;
    margin-bottom: 10%   
}
.skillset-logos p {
    font-size: 18px;
    color: #f4f5f2;
}
.skillset-logos ul {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}
.skillset-logos ul li {
    list-style: none;
}
.skillset-logos ul li a {
    display: inline-block;
    padding: 35px 30px;
    text-decoration: none;
    color: #8dc263;
}
.skillset-logos a svg {
    width: 50px;
}
a svg:hover .skillset-icon-color {
    fill: #8dc263;
}
/* ######## BUSINESS PAGE ########## */
.business-text {
    display: flex;
    border: solid 1px;
    justify-items: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    color: #41525a;
}
.business-container .box {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    border: solid 1px;
}
.business-container .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
}
.business-container .box:hover .icon {
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.business-container .box:hover .icon .business-icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: #f4f5f2;
}
.business-container .box:hover .icon .business-icon {
    font-size: 40px; 
}
.business-container .box .business-container-content {
    position: absolute;
    top: 100px;
    height: calc(100% - 100%);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}
.business-container .box:hover .business-container-content {
    top: 100px;
    opacity: 1;
}
.business-container .box .business-container-content h3 {
    margin: 0 0 10px;
    padding: 0;
    color: #f4f5f2;
    font-size: 24px;
}
.business-container .box .business-container-content p {
    margin: 0;
    padding: 0;
    color: #f4f5f2;
}
.business-container .box:nth-child(1) .icon {
    background: #8dc263;
}
.business-container .box:nth-child(1){
    background: #b1d890;
}
.business-container .box:nth-child(2) .icon {
    background: #8dc263;
}
.business-container .box:nth-child(2) {
    background: #b1d890;
}
.business-container .box:nth-child(3) .icon {
    background: #8dc263;
}
.business-container .box:nth-child(3) {
    background: #b1d890;
}
.business-container .box:nth-child(4) .icon {
    background: #8dc263;
}
.business-container .box:nth-child(4) {
    background: #b1d890;
}
svg .business-icon-size {
    width:80%;
    height: 80%;
}
/* ########### PROJECTS PAGE ############## */
.projects-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto 1fr auto;
    grid-gap: 30px;
    width: 95% ;
    margin: 100px auto 0;
    height: auto;
}
.projects-text {
    display: flex;
    border: solid 1px;
    justify-items: center;
    align-items: center;
    color: #41525a;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
}
.projects-text a {
    color: #41525a;
}
.projects-container .card {
    position: relative;
    width: 300px;
    height: 440px;
    margin: 0 auto;
    background: #41525a;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
}
.projects-container .card:hover {
    transform: translateY(-20px); 
    box-shadow: 0 20px 20px rgba(0,0,0,.2); 
 }  
.projects-container .card .img-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.projects-container .card:hover .img-box {
    opacity: 1;
}
.projects-container .card .img-box img {
    width: 100%;
}
.projects-container .card .content {
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: -100%;
    padding: 20px;
    padding-top: 60px;
    box-sizing: border-box;
    text-align: left;
    transition: 0.5s;
    color: #f4f5f2;
}
.projects-container .card .content ul {
    list-style: none;
}
.projects-container .card .content ul li {
    color: #f4f5f2;
    display: inline-block;
}
.projects-container .card .content ul li a{
    color: #f4f5f2;
}
.projects-container .card:hover .content {
    bottom: 0;
}
.projects-container .card:nth-child(1) .content {
    background: linear-gradient(0deg, #8DC263, transparent); 
}
.projects-container .card:nth-child(2) .content {
    background: linear-gradient(0deg, #8DC263, transparent); 
}
.projects-container .card:nth-child(3) .content {
    background: linear-gradient(0deg, #8DC263, transparent); 
}
.projects-container .card:nth-child(4) .content {
    background: linear-gradient(0deg, #8DC263, transparent); 
}
.container .card .content h2 {
    padding: 0;
    color: #fff;
    font-size: 20px;
}
.container .card .content p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}
.project-icon {
    position: relative;
    top: 13px;
    left: 5px;
    width: 35px;
    padding: 10px;
}
/* ######### BOOKS PAGE ######## */
.books-container section {
    display: flex;
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    flex-wrap: wrap;
    animation: 20s slider infinite;
}
@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}
.books-container .slide {
    width: calc(25% - 40px);
    float: left;
    padding: 20px;
}
.books-container .slide img {
    position: relative;
    width: 50%;
    max-width: 400px;
    flex-wrap: wrap;
    vertical-align: middle;
}
.books-container .slide .buy-button {
    align-items: center;
    width: calc(50% - 60px);
    max-width: 300px;
    min-width: 150px;
    flex-wrap: wrap; 
    flex-wrap: wrap;
    display: inline-block;
    color: #8DC263;
    display: inline-block;
    text-align: center;
    margin-left: 10px;  
}
.books-container .slide .buy-button button {
    color:#f4f5f2;
    background: #8dc263;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 24px;
    
}
.books-container .slide .buy-button p {
    color: #41525a;
}
.books-container .slide .buy-button a {
    color: #41525a;
    font-display: center;
}
.books-container .slide .blurb {
   flex-wrap: wrap;
   background: #41525a;
   opacity: .7;
   padding-left: 20px;
   margin-top: 20px;
   border: 1px solid rgba(0,0,0,.1);
   box-sizing: border-box; 
   box-shadow: 0px 5px 10px rgba(0,0,0,.2);
   display: inline-block;
   width: calc(100% - 40px);
   color: #f4f5f2;
}