@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
html {
     height: 100%;
     width: 100%;
 }
 body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background: #f4f5f2;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 50px 50px 1fr auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer"; 
 } 
header {
    grid-area: header;
    justify-self: center;
    font-size: 34px; 
    /* padding-left: 20px; */
    /* padding-right: 20px;    */
}
nav {
    grid-area: nav;
    width: 100%;
    height: 50px;
    background: #8dc263;
    position: sticky;
    top: 0;
}
nav ul {
    display: flex;
    margin: 0;
    /* padding: 0 100px; */
    /* float: right; */
}
nav ul li {
    list-style: none;
}
nav ul li a {
    display: block;
    color: #f4f5f2;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
}
nav ul li a:hover,
nav ul li a.active {
    background: #41525a;
} 
main {
    grid-area: main;
}
footer {
    grid-area: footer;
    background-color:#8dc263;
}
footer ul {
    display: flex;
    justify-content: center;
}
footer ul li {
    list-style: none;
}
footer ul li a {
    display: inline-block;
    padding: 0 20px;
}
.footer_icon {
    width: 30px;
}
a svg:hover .footer_icon_color {
    fill: #f4f5f2;
}

.copyright {
    font-size: 12px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: #41525a;
    margin-left: 30px;
}
.main-container {
    padding-bottom: 50px;
}
.home-container {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 100%;
    /* grid-template-areas:; */
    /*"header"
    "nav"
    "main"
    "footer";  */
    /* padding-top: 20px;
    padding-left: 20px; */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    width: 1000px; 
    height: 500px; 
    /* display: flex;  */
    /* margin-inline-start: 30px; */
    align-items: stretch;
}
.home-container .box {
    position: relative;
    width: 250px;
    height: 500px;
    background: #ccc;
    transition: 0.5s;
}
.home-container .box:hover {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,1);
}
.home-container .box .thumb {
    position: absolute; 
    width: 1000px;
    height: 250px;
    overflow: hidden;
}
.home-container .box:nth-child(odd) .thumb {
    bottom: 0;
    left: 0;
}
.home-container .box .thumb img {
    width: 100%;
}
.home-container .box .details {
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background: #262626;
}
.home-container .box:nth-child(even) .details {
    bottom: 0;
    left: 0;
}
.home-container .box:nth-child(1) .details {
    background: #8553cb;
}
.home-container .box:nth-child(2) .details {
    background: #fe8f01;
}
.home-container .box:nth-child(3) .details {
    background: #79d400;
}
.home-container .box:nth-child(4) .details {
    background: #ff3b34;
}
.home-container .box .details .content {
    position: absolute;
    top: calc(50% + 16px);
    transform: translateY(-50%);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.5s;
}
.home-container .box:hover .details .content {
    top: calc(50%);
}
.home-container .box .details .content .home-icon {
    font-size: 80px;
    color: #fff;
}
.home-container .box .details .content h3 {
    margin: 0;
    padding: 0;
    padding: 10px 0;
    color: #fff;
}
.home-container .box .details .content a {
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 20px;
    transform: scale(0);
}
.home-container .box:hover .details .content a {
    transform: scale(1);
}
.home-container .box .details .content a:hover {
    background: #fff;
    color: #262626;
}
@media (max-width: 1000px) {
    .home-container {
        width: 100%;
        height: auto;
        padding: 20px;
        box-sizing: border-box
    }
    .home-container .box {
        height: 250px;
    }
    .home-container .box .thumb {
        display: none;
    }
}
@media (max-width: 768px) {
    .home-container {
        display: initial;
    }
    .home-container .box {
        width: 50%;
        height: 250px;
        float: left;
    }
}
@media (max-width: 480px) {
    .home-container {
        top: 0;
        left: 0;
        transform: translate(0);
    }
    .home-container .box {
        width: 100%;
        height: 250px;
        float: left;
    }
}


.home-icon {
    width: 80px;
}

/* @media screen and (min-width: 600px) {
    .home-container {
        grid-template-columns: 
        grid-template-rows:
        grid-template areas:
        ""
        ""
        ""
        ""
    }
}
@media only screen and (min-width: 600px) {/* to 992 */
    /* .home-container {
        grid-template-columns: 
        grid-template-rows:
        grid-template areas:
        ""
        ""
        ""
        ""
    }
} */
/* @media only screen and (min-width: 992px) {
    .home-container {
        grid-template-columns: 
        grid-template-rows:
        grid-template areas:
        ""
        ""
        ""
        ""
    }
} */ */

.about-container {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
    "profile-pic"
    "profile-words"; 
}
.about-container .profile-pic {
    grid-area: profile-pic;
    justify-self: center;
    /* display: flex; */
    padding-top: 20px;
    /* justify-content: center; */
}
.about-container .profile-words {
    grid-area: profile-words; 
    /* display: flex; */
    /* justify-content: center; */
    padding-left: 20px;
    padding-right: 20px;
}
.contact-me {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: #fff;
    padding: 40px;
    border: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.contact-me h2 {
    margin: 0 0 40px;
    padding: 0;
    color: #f7497d;
    text-transform: uppercase;
}
.contact-me input {
    padding: 10px 0;
    margin-bottom: 30px;
}
.contact-me textarea {
    height: 80px;
    padding: 10px 0;
    margin-bottom: 40px;
}
.contact-me input,
.contact-me textarea {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999;
}
.contact-me textarea {
    margin-bottom: 20px;
}
.contact-me input[type="submit"] {
    border-bottom: none;
    cursor: pointer;
    background: #f7497d;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
}
.contact-me form div {
    position: relative;
}
.contact-me form div label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    transition: .5s;
    pointer-events: none;
}
.contact-me input:focus ~ label,
.contact-me textarea:focus ~ label,
.contact-me input:valid ~ label,
.contact-me textarea:valid ~ label  {
    top: -12px;
    left:0;
    color:#f7497d;
    font-size: 12px;
    font-weight: bold;
}
.contact-me input:focus, 
.contact-me textarea:focus, 
.contact-me input:valid, 
.contact-me textarea:valid {
    border-bottom: 2px solid #f7497d;
}
/* @media screen and (min-width: 600px) { */
    /* .about-container { */
        /* grid-template-columns: 1fr 1fr; */
        /* grid-template-rows: 1fr 1fr; */
        /* grid-template-areas: */
        /* "profile-pic profile-words" */
        /* "profile-words profile-words" */
    /* } */
/* }÷ */
/* @media only screen and (min-width: 600px) {/* to 992 */
    /* .about-container {
        grid-template-columns: 
        grid-template-rows:
        grid-template areas:
        ""
        ""
        ""
        ""
    } */
/* } */ 
@media only screen and (min-width: 992px) {
    .about-container {
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr;
        grid-template areas:
        "profile-pic   empty         empty"
        "profile-words profile-words profile-words"
    }
}
.coding-container {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    " typewriter-text"
    "skillset-logos"; 
    /* text-align: center; */
}

.typewriter-text {
    grid-area: typewriter-text;
    /* margin: 50px auto; */
    background: #41525a;
    padding-top: 20px;
    padding-bottom: 20px;
   /* justify-items: center; */
   /* text-align: center; */
   /* text-overflow: wrap; */
}
 pre {
    background: #41525a;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    /* letter-spacing: .15em; */
    color: #f4f5f2;
    /* white-space: nowrap; */
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
    animation: typing 2s steps(60, end);
    /* align-content: center; */
}
 .typewriter-text pre:nth-child(2) {
    animation: typing-2 2.5s steps(60, end);
} 
 .typewriter-text pre:nth-child(3) {
    animation: typing-2 4s steps(60, end);
}
.typewriter-text pre:nth-child(4) {
    animation: typing-2 6s steps(60, end);
}
.typewriter-text pre:nth-child(5) {
    animation: typing-2 9s steps(60, end);
}
.typewriter-text pre:nth-child(6) {
    animation: typing-2 13.5s steps(60, end);
}
/* .typewriter-text code:nth-child(7) {
    animation: typing-2 30s steps(60, end);
}   */
@keyframes typing {
    from {width: 0;}
}
@keyframes typing-2 {
    0% {width: 0;}
    /* 25% {width: 0;} */
    50% {width: 0;}
    100% {width: 100;}
}
@keyframes blink {
    to {opacity: .0;}
}
.cursor {
    animation: blink 1s infinite;
}



.skillset-logos {
    grid-area: skillset-logos;
}
.skillset-logos p {
    text-align: center;
    font-weight: bold;
    font-kerning: 1;
}
.skillset-logos ul {
    display: flex;
    justify-content: center;
}
.skillset-logos ul li {
    list-style: none;
}
.skillset-logos ul li a {
    display: inline-block;
    padding: 0 30px;
}
/* .skillset_icon1,
.skillset_icon2,
.skillset_icon3,
.skillset_icon4 */
.skillset-logos a svg {
    width: 50px;
}
a svg:hover .skillset-icon-color {
    fill: #8dc263;
}



@media only screen and (min-width: 600px) {
    .coding-container {
        grid-template-columns: 
        grid-template-rows:
        grid-template areas:
        ""
        ""
        ""
        ""
    }
}
@media only screen and (min-width: 600px) {/* to 992 */
    .coding-container {
        grid-template-columns: 
        grid-template-rows:
        grid-template areas:
        ""
        ""
        ""
        ""
    }
}
@media only screen and (min-width: 992px) {
    .coding-container {
        grid-template-columns: 
        grid-template-rows:
        grid-template areas:
        ""
        ""
        ""
        ""
    }
}
.business-container {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 50px 50px 1fr auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer"; 
/* }
@media only screen and (min-width: 600px) {
    .business-container {
        grid-template-columns: 
        grid-template-rows:
        grid-template areas:
        ""
        ""
        ""
        ""
    }
}
@media only screen and (min-width: 600px) {/* to 992 */
    .business-container {
        grid-template-columns: 
        grid-template-rows:
        grid-template areas:
        ""
        ""
        ""
        ""
    }
}
@media only screen and (min-width: 992px) {
    .business-container {
        grid-template-columns: 
        grid-template-rows:
        grid-template areas:
        ""
        ""
        ""
        ""
    }
} */

.projects-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto 1fr auto;
    grid-gap: 40px;
    width: 95% ;
    margin: 100px auto 0;
    height: auto;
}
.projects-container .card {
    position: relative;
    width: 300px;
    height: 440px;
    margin: 0 auto;
    background: #000;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
}
.projects-container .card:hover {
    /* transform: translateY(-20px); */
    /* box-shadow: 0 20px 20px rgba(0,0,0,.2); */
}
.projects-container .card .img-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.projects-container .card:hover .img-box {
    opacity: 1;
}
.projects-container .card .img-box img {
    width: 100%;
}
.projects-container .card .content {
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: -100%;
    padding: 20px;
    padding-top: 60px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.5s;
}
.projects-container .card:hover .content {
    bottom: 0;
}
.projects-container .card:nth-child(1) .content {
    background: linear-gradient(0deg, #c21833, transparent); 
}
.projects-container .card:nth-child(2) .content {
    background: linear-gradient(0deg, #8012a5, transparent); 
}
.projects-container .card:nth-child(3) .content {
    background: linear-gradient(0deg, #3a414c, transparent); 
}
.projects-container .card:nth-child(4) .content {
    background: linear-gradient(0deg, #2196f3, transparent); 
}
.container .card .content h2 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 20px;
}
.container .card .content h2 span {
    color: #ffeb3b;
    font-size: 16px;
}
.container .card .content p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}
.container .card .content ul {
    display: flex;
    margin: 20px 0 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.container .card .content ul li {
    list-style: none;
}
.container .card .content ul li a {
    color: #fff;
    padding: 0 10px;
    font-size: 18px;
}



.project-icon {
    width: 30px;
}

@media only screen and (min-width: 600px) {
    .projects-container {
        grid-template-columns: 
        grid-template-rows:
        grid-template areas:
        ""
        ""
        ""
        ""
    }
}
@media only screen and (min-width: 600px) {/* to 992 */
    .projects-container {
        grid-template-columns: 
        grid-template-rows:
        grid-template areas:
        ""
        ""
        ""
        ""
    }
}
@media only screen and (min-width: 992px) {
    .projects-container {
        grid-template-columns: 
        grid-template-rows:
        grid-template areas:
        ""
        ""
        ""
        ""
    }
}
.book-container {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 50px 50px 1fr auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer"; 
}
@media only screen and (min-width: 600px) {
    .books-container {
        grid-template-columns: 
        grid-template-rows:
        grid-template areas:
        ""
        ""
        ""
        ""
    }
}
@media only screen and (min-width: 600px) {/* to 992 */
    .books-container {
        grid-template-columns: 
        grid-template-rows:
        grid-template areas:
        ""
        ""
        ""
        ""
    }
}
@media only screen and (min-width: 992px) {
    .books-container {
        grid-template-columns: 
        grid-template-rows:
        grid-template areas:
        ""
        ""
        ""
        ""
    }
}
